<div class="vc_container" ng-controller="clickyController">
    
        <div class="adv-search-div">
            <div class="panel panel-default">
                <div class="panel-heading vc-advsearch-pnl-heading">
                    <h3 class="panel-title">Advanced Search</h3>
                </div>
                <div class="panel-body vc-advsearch-pnl-body">
                    <div class="form-group" ng-repeat="sfield in searchFields">
                        <label class="control-label" for="input_{{sfield.key}}">{{sfield.name}}:</label>
                        <input type="text" class="form-control form-control-sm" id="input_{{sfield.key}}" placeholder="">
                    </div>
                    <!-- <div class="form-group">
                        <label class="control-label " for="input_domain">IP Address:</label>

                        <input type="text" class="form-control form-control-sm" ng-model="input_ip_address" placeholder="">

                    </div>
                    <div class="form-group">
                        <label class="control-label " for="input_address">Landing Page:</label>

                        <input type="text" class="form-control form-control-sm" ng-model="input_landing_page" placeholder="">

                    </div>
                    <div class="form-group">
                        <label class="control-label " for="input_city">Geolocation:</label>

                        <input type="text" class="form-control form-control-sm" ng-model="input_geolocation" placeholder="">

                    </div>                                       
                    <div class="form-group">
                        <label class="control-label " for="input_country">Country:</label>

                        <input type="text" class="form-control form-control-sm" ng-model="input_country_code" placeholder="">

                    </div>
                    <div class="form-group">
                        <label class="control-label " for="input_state">Actions:</label>

                        <input type="text" class="form-control form-control-sm" ng-model="input_actions" placeholder="">

                    </div>
                   -->
                    <div class="form-group adv_submit">
                        <button id="adv_submit" type="submit" class="btn btn-default btn-xs" ng-click="advancedSearch()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-crosstab-div">
            <div class="row">
            <!--
                <div class='col-sm-8'>
                    <div class="input-group">
                        <input ng-model="search" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button title="Search" class="btn btn-default" type="button" ng-click="initSearch()"><span class="glyphicon glyphicon-search search-icon"></span></button>
                        </span>
                    </div>
                </div> 
            -->                
           
                <div class='col-sm-12'>
                    <div class="panel panel-primary clicky-panel">
                        <div class="panel-heading"> 
                            <span class="panel-title"><strong>Visitors</strong></span>
                            <span class='datetimepicker-container'>                        
                                <datetimepicker requireddate="date" getvisitors="getvisitorsbydate()"></datetimepicker>                        
                            </span>
                                                                    
                        </div>
                        <div class="panel-body vc_clicky_list">
                            <table class="ih-table" id="company_tbl" companytbl colswidth="colsw" colfields="fields">
                                <thead class="ih-thead">
                                    <tr>
                                        <th class="ih-th" style="width:{{colsw + 'px'}}" ng-repeat="field in fields"> {{field.name}}</th>                            
                                    </tr>
                                </thead>
                                <tbody class="ih-tbody ih-tbody-clicky" scrolly="showMore()">
                                    <tr ng-repeat="visitor in visitors" data-toggle="modal" data-target="#myModal" ng-click="getInfo(visitor._id)">
                                        <td class="ih-td" style="width:{{colsw + 'px'}}" ng-repeat="field in fields"> {{visitor[field.key] || ''}}</td>                            
                                    </tr>
                                </tbody>
                            </table>
                            <p class="list-status"> Showing {{cursor_skip}} of {{cursor_total}} </p>                            
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Details</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 info-div" ng-repeat="field in infoFields"> 
                                <div class="info-label">{{field.name}}</div> 
                                <div>{{visitorsInfo[field.key]}}</div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 info-div"> <div class="info-label">Actions</div>
                                <ul>
                                    <li ng-repeat="action in visitorsInfo['actions']">
                                        <p class="action-info" >{{action['action_title']}}</p>
                                        <p>{{action['action_url']}}</p>
                                    </li>
                                </ul>
                                
                            </div>                            
                        </div>
                    </div>                    
                </div>                
                </div>
            </div>
        </div>      
       
</div>