    
<html>
<head>
<title> Company Contacts </title>
</head>
<body>
    <div class="vc_container" ng-controller="viewContactController">    
        <div class="adv-search-div">
            <div class="panel panel-default">
                <div class="panel-heading vc-advsearch-pnl-heading">
                    <h3 class="panel-title">Advanced Search</h3>
                </div>
                <div class="panel-body vc-advsearch-pnl-body">
                    <table class="adv-search-field">
                        <tr ng-repeat="field in fields">
                            <td class="adv-search-field-label">
                                <label  for="input_company">{{ fieldInfo[field].name }}</label>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm adv-search-input"  id="adv_input_{{field}}" placeholder="">
                            </td>
                        </tr>
                    </table>   
                   
                    <div class="form-group adv_submit">
                        <button id="adv_submit" type="submit" class="btn btn-default btn-xs" ng-click="advancedSearch()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-crosstab-div">
            <div class="panel panel-primary company-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Contacts <span ng-click="showFieldsConfig = !showFieldsConfig" ng-init="showFieldsConfig=false" class="glyphicon glyphicon-cog cog"></span></h3>  
                    <div ng-show="showFieldsConfig" class="col-selection arrow_box shadow">
                        <span ng-click="showFieldsConfig = !showFieldsConfig" class="glyphicon glyphicon-remove col-selection-close"></span>
                        <div class="checkbox" ng-repeat="(key,field) in fieldInfo">                            
                            <label><input type="checkbox" class="field-chkbox" value="{{key}}" ng-checked="fields.indexOf(key)!=-1" ><span>{{field.name}}</span></label>
                        </div>
                        <div class="col-selection-submit">
                            <button ng-click="showConfiguredFields()"> Save </button>
                        </div>
                    </div>                  
                </div>
                <div class="panel-body vc_company_list">
                    <table class="ih-table" id="company_tbl" companytbl colswidth="colsw" colfields="fields">
                        <thead class="ih-thead ">
                            <tr>
                                <th class="ih-th" style="width:{{colsw + 'px'}}" ng-repeat="field in fields"> {{fieldInfo[field].name}}</th>                            
                            </tr>
                        </thead>
                        <tbody class="ih-tbody ih-tbody-company">
                            <tr ng-repeat="company in records" data-toggle="modal" data-target="#myModal" ng-click="getInfo(company._id)">
                                <td class="ih-td" style="width:{{colsw + 'px'}}" ng-repeat="field in fields" id="{{company._id + '_' + field}}" > {{company[field]}}</td>                            
                            </tr>
                        </tbody>
                    </table>      
                </div>                              
            </div>
            <div class="table-status">                
                    <ul class="pagination pagination-sm">
                        <li class="page-item" ng-class="{'disabled' : page == 1 }" ng-click="initSearch(page -1)">
                        <span class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </span>
                        </li>
                        <li class="page-item pg" ng-repeat="p in pages" ng-class="{'pg-active' : page == p }" ng-click="initSearch(p)"><span class="page-link">{{p}}</span></li>
                        
                        <li class="page-item" ng-class="{'disabled' : page == totalPages }" ng-click="initSearch(page + 1)">
                        <span class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </span>
                        </li>
                    </ul>
                    <span class="list-status"> Showing {{ recordStart }} to {{ recordEnd }} of {{cursor_total}} </span>
            </div> 
        </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="removeComments()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Details </h4>
                    
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 info-div" ng-repeat="(key, info) in recordsInfo" ng-if="key != 'comments' && key != '_id'"> 
                                <div class="info-label">{{fieldInfo[key].name}}</div> 
                                <div class="info-data" title="Click to edit" >
                                    <input type="text" id="{{key}}" value="{{info}}" disabled> 
                                    <span ng-click="allowEditing(key)" class="glyphicon glyphicon-pencil info-editsave-btn"></span>
                                    <span ng-click="saveEditing(key)" class="glyphicon glyphicon-floppy-disk info-editsave-btn"></span>                                    
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 info-div"> <div class="info-label">Comments <span class="glyphicon glyphicon-plus add-comment" ng-click="appendComment(recordsInfo['_id'])"></span></div>
                                <ul id="commentList" class="list-group">
                                    <listcomment ng-repeat="comment in recordsInfo['comments']"   commentobj="comment" docid="{{recordsInfo['_id']}}" collectionname="contact"></listcomment>                                    
                                </ul>                                
                            </div>                            
                        </div>
                    </div>                    
                </div>                
                </div>
            </div>
        </div>      
</div>
</body>
</html>