<div  ng-controller="ipCheckController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="input-group">
                        <input ng-model="search_ip" type="text" class="form-control" placeholder="Search for IP...">
                        <span class="input-group-btn">
                            <button title="Search" class="btn btn-default" type="button" ng-click="searchIpInfo()"><span class="glyphicon glyphicon-search search-icon-ip"></span></button>
                        </span>
                    </div>            
                </div>
            </div>
            <div class="col-xs-6 ipc_left_div">
                <div class="header">
                    DB IP API
                </div>                
                <div ng-show="dbip_loading" class="loading_dbip">
                    <svg width='120px' height='120px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke-dasharray="163.36281798666926 87.9645943005142" stroke="#d25353" fill="none" stroke-width="20"><animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform></circle></svg>
                </div>
                <div class="info">
                    <ul class="list-group">
                        <li  ng-repeat="field in dbip_fields" class="list-group-item {{'list-group-item_' + $index}}"><span class="ip_label">{{field.name}} </span> : &nbsp; {{dbip_info[field.key]}}</li>                        
                    </ul>
                </div>

            </div>
            <div class="col-xs-6 ipc_right_div">
                <div class="header">
                    IP Location DB
                </div>                
                <div ng-show="iplocation_loading" class="loading_iplocation">
                    <svg width='120px' height='120px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke-dasharray="163.36281798666926 87.9645943005142" stroke="#d25353" fill="none" stroke-width="20"><animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite" begin="0s"></animateTransform></circle></svg>
                </div>
                <div class="info">
                    <ul class="list-group">
                        <li  ng-repeat="field in iplocation_fields" class="list-group-item {{'list-group-item_' + $index}}"><span class="ip_label">{{field.name}} </span> : &nbsp; {{iplocation_info[field.key]}}</li>                         
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>