.logo {   
    height:30px;
}
/* Navigation */
.navbar-inverse { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #080808}
.dropdown-menu { background-color: #ffffff}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428bca}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #ffffff}
.navbar-inverse .navbar-nav>li>a { color: #999999}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #ffffff}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #ffffff}

.ng-view_div {
    margin-top: 75px;
}

.vc_company_list {
    height: calc(100vh - 220px);
    overflow-y: auto;    
}

.company-panel {
    margin-top: 20px;
}

.list-status{    
    color: #999999;
    text-align: right;
    margin-right: 35px;
}

.search-icon{
    font-size: 20px;
}

a, .field-label {
    cursor: pointer;
}

.company-info dt,
.company-info dd {
    padding: 7px;        
}

.info-label h4{
    font-weight: bold;
}

.fieldactive {
    color : #337ab7 !important;
}

.vc-advsearch-pnl-body {
    font-size:12px;
    background-color: #f5f5f5;
    overflow-y: auto;
    color: #999999;
}

.vc-advsearch-pnl-body .form-control {
    height: 25px;
    padding: 5px 5px;
    color: #999999;
}
.adv_submit{
    text-align: right;
}

.sidebar {
    padding-left : 10px;
    width:500px;
    float: left;
}
.upload-body {
    margin-left:525px;
    display: block;
    margin-bottom :10px;
    padding-right: 10px;
    height: auto;
}

.span-file-name {
    display: inline-block;
    width : 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.span-file-name p {
    margin : 0px;
}

.file-created {
    font-size: 10px;    
}

.file-action-btn {    
    height : 100%;
}
.file_list-body{
    height: calc(100vh - 140px);
    overflow-y: auto; 
}

.file-upload-panel-body{
    height: calc(100vh - 140px);
    overflow-y: auto; 
}
.file-icon {
    content: url("/public/img/xlsx-3.png");
    width:25px;
    height:auto;    
}