.logo {   
    height:30px;
}
/* Navigation */
.navbar-inverse { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #080808}
.dropdown-menu { background-color: #ffffff}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428bca}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #ffffff}
.navbar-inverse .navbar-nav>li>a { color: #999999}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #ffffff}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #ffffff}
.navbar-brand {
    padding: 5px 15px;
    height: 25px;
}
.navbar-nav>li>a {
    padding: 5px 15px;
}
.navbar {
    min-height: 25px;
}

body {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 100%;
}
.ng-view_div {
    margin-top: 50px;
}

.vc_company_list {
    height: calc(100vh - 150px);       
}

.vc_clicky_list {
    height: calc(100vh - 150px);       
}

.company-panel {
    margin-top: 15px;
}

.list-status{    
    color: #999999;
    text-align: right;
    margin-right: 15px;
    padding-top: 5px;
    float: right;
}

.search-icon{
    font-size: 13px;
}

.search-input-group-btn > button{
    padding: 3px 7px;
}

a, .field-label {
    cursor: pointer;
}

.company-info dt,
.company-info dd {
    padding: 7px;        
}

.info-label h4{
    font-weight: bold;
}

.fieldactive {
    color : #337ab7 !important;
}

.vc-advsearch-pnl-body {
    font-size: 1em;
    background-color: #f5f5f5;
    overflow-y: auto;
    color: #999999;
}

.vc-advsearch-pnl-body .form-control {
    height: 20px;
    padding: 1px 3px;
    color: #999999;
    font-size: 1em;
}
.adv_submit{
    text-align: right;
    margin-top: 5px;
    
}

.adv_submit > button{
    font-size:x-small;
}

.adv-input {
    font-size: 1em;
}

.sidebar {
    padding-left : 10px;
    width:500px;
    float: left;
}
.upload-body {
    margin-left:525px;
    display: block;    
    padding-right: 10px;    
}

.span-file-name {
    display: inline-block;
    width : 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.span-file-name p {
    margin : 0px;
}

.file-created {
    font-size: 10px;    
}

.file-action-btn {    
    height : 100%;
}
.file_list-body{
    height: calc(100vh - 90px);
    overflow-y: auto; 
}

.file-upload-panel-body{
    height: calc(100vh - 90px);
    overflow-y: auto; 
}
.file-icon {
    content: url("/public/img/xlsx-3.png");
    width:25px;
    height:auto;    
}

.adv-search-div{
    width : 250px;     
    padding-left:10px;
    float: left;  
}
.company-crosstab-div{
    margin-left : 275px;    
    display: block;
    padding-right : 15px;
}
.company-crosstab-div .form-control {
    height: 20px;
    padding: 1px 3px;
    color: #999999;
    font-size: 1em;
}

.ih-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1em;    
}

.ih-th, .ih-td {
    display: block;
    float: left;
    padding: 4px;
    text-align: left;
    word-wrap: break-word;    
  }

.ih-th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
  }

.ih-thead {
    background-color: #333;
    color: #FDFDFD;
}
.ih-thead tr {
    display: block;
    width: 100%;
    position: relative;
}

.ih-tbody {
    display: block;
    overflow: auto;
    width: 100%;
       
}

.ih-tbody tr:nth-child(even) {
    background-color:  #DDD;
}

.ih-tbody-company {
    height: calc(100vh - 180px); 
}
.ih-tbody-clicky {
    height: calc(100vh - 225px); 
}

.action-info {
    margin-bottom : 1px;
    font-size: 15px;
}

.info-div {
    padding: 5px;
}

.info-label {    
    font-weight: bold;    
}

.info-data {
    min-height : 20px;
}

.datetimepicker-container{
    width: 120px;    
    float: right;
    display: inline-block;
}

.datetimepicker-container input{
    padding : 1px 5px;
    height : 25px;
}

.datetimepicker-container span{
    padding : 1px 3px;
}

.ipc_left_div {
    border-right : 1px solid #ccc;
}

.ipc_left_div, .ipc_right_div {
    height : calc(100vh - 100px)
}

.header {
    padding: 10px 10px 10px 0;
    color : #333;
    font-size: 20px;
}
.loading_dbip, .loading_iplocation {   
    margin-top: 50px;  
    width: 100%;
    text-align : center;  
}

.info {
    padding : 40px 0 0 0;
}

.ip_label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
.search-icon-ip {
    font-size: 21px;
}
.cog {
    float: right;    
}
.cog:hover {
    cursor: pointer;
}
.col-selection-close {
    font-size: 10px;
    float: right;
    margin-right: -10px;
    cursor: pointer;
    color: #ccc;
}
.col-selection-close:hover {
    color: #999999;
}
.col-selection-submit{
    text-align: center;
}
.col-selection-submit > button {
    font-size: x-small;
    padding: 0px 5px;
}

input[type=checkbox], input[type=radio] {
    margin:2px 0 0;
}
.col-selection {    
    position: absolute;
    padding: 5px 15px 5px 15px;
    z-index: 999;
    top: 25px;
    right: 50px;   
    color: #333;    
}

.shadow {
  -moz-box-shadow:    5px 5px 5px #999999;
  -webkit-box-shadow: 5px 5px 5px #999999;
  box-shadow:         5px 5px 5px #999999;
}

/* Callout */
.arrow_box {	
	background: #f2f2f2;
	border: 2px solid #b3b3b3;
    border-radius : 5px;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 70px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(242, 242, 242, 0);
	border-left-color: #f2f2f2;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(179, 179, 179, 0);
	border-left-color: #b3b3b3;
	border-width: 13px;
	margin-top: -13px;
}
/* Callout */

.panel-title {
    font-size: 1.2em;    
}
.panel-heading, .panel-body {
    padding : 5px 5px;
}
.adv-search-field{
    font-size : 1em;
    width: 100%;
}

.adv-search-field-label {    
    width: 70px;
}
.adv-search-field-label > label {
    font-weight:  normal;
}
.adv-search-field td {
    padding: 5px 0;
}

.pagination-sm {
    padding : 0;
    margin:0;       
}

.pagination-sm  .page-link {
    font-size : 0.8em;
    cursor: pointer;
}

.panel{
    margin-bottom: 3px;
}

.pagination > .pg > span {
    color: #999999;
}

.pagination > .pg-active > span {
    color: #337ab7;
}

.dropdown-menu {
    font-size: 1em;
}

.navbar-brand {
    font-size: 1.5em;
}
.modal-content {
    font-size: 1.2em;
}

.modal-header {
    padding : 5px 15px;
}

.info-editsave-btn {    
    background: none;
    border: 0;
    display: none;
    cursor: pointer;
    opacity: 0.5;
}


.info-data:hover > .info-editsave-btn {
    display:inline-block;    
}

.info-editsave-btn:hover {
    opacity: 1;
}

.info-data > input {
    border : 0;
    background: none;
    padding-left: 5px;
}

.allow-edit > input {
    border : 1px;
    background: #f2f2f2;
}

.comment-textarea {
  width: 100%;
  height: 50px;
  border: 0;
  background: none;  
}

.comment-action {
    text-align: right;
    
}

.comment-action > button {
    font-size: x-small;
    padding: 0px 3px;
    margin : 5px 0 5px 5px;
}


.enable-textarea{
    border : 1px solid  #ccc;
    background: #f2f2f2;
}

.comment-btn {
    background: none;
    border: 0;
    display: none;
    cursor: pointer;
    opacity: 0.5;    
    right: 5px;
    margin-top: 5px;
}

.list-group-item:hover .comment-btn {    
    display:inline-block;        
}

.comment-btn:hover {
    opacity: 1;
}

.comment-edit-delete-div{
    text-align: right;
    height: 20px;
}

.comment-date {
    float: left;
    font-size: x-small;
    opacity: 0.5;
    margin-top: 5px;
}

.add-comment {
    float: right;
    opacity: 0.5;
}

.add-comment:hover {
    opacity: 1;
}

.upload-file-action {
    padding : 5px 8px;
}
.upload-file-action  > span{
    font-size: 10px;
}

.db-fields{
    padding : 10px 0 10px 0;
}

.diff {
    color : #ff0000;
}